h1{
    color: green;
    border: 1px solid black;
    width: 200px;
}

h2{
    text-decoration: underline;
    border: 1px solid black;
    width: 200px;
    text-align: left;
    padding: 2px;

}

h3{
    text-decoration: underline;      
    text-align: left;
    
}

p{
    text-decoration: underline;
    border: 1px solid black;
    width: 200px;
    text-align: left;
    padding: 2px;
    
    
}


ul{
    border: 1px solid black;
    width: 180px;
    text-align: left
}




